@model IList<AspMvcChatsupp.DataAccess.Domain.Visitor>
@{
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Machine</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr data-name="@item.Name" data-conninfoid="@item.VisitorId">
            <td>@item.Name</td>
            <td>@item.ConnectionLogs.LastOrDefault().Location</td>
            <td>@item.ConnectionLogs.LastOrDefault().OperatingSystem</td>
            <td>@item.State.Name</td>
            
        </tr>

        }
    </tbody>
</table>
